@inherits LayoutComponentBase

@inject IViewProductsUseCase ViewProductsUseCase

<div class="page">
    

    <div class="main">
        <HxNavbar>
    <HxNavbarBrand>BikeShop</HxNavbarBrand>
    <HxNavbarToggler />
    <HxNavbarCollapse>
        <HxNav CssClass="me-auto mb-2 mb-lg-0">
            <HxNavLink Href="/info">Info</HxNavLink>
            <HxNavLink Href="/cart">Cart </HxNavLink>
        </HxNav>
        
    </HxNavbarCollapse>
</HxNavbar>


        <div class="content px-4">
            @Body
        </div>
    </div>
</div>

@code {
    private List<Product> cart;

    protected override void OnInitialized()
    {
        
        cart = ViewProductsUseCase.CreateCart().ToList();
        base.OnInitialized();
    }
}
