@page "/"

@inject IViewProductsUseCase ViewProductsUseCase

<h3>ProductPageComponent</h3>

@if (products != null)
{
    <div class="row">
    @foreach (var product in products)
    {
        
	<div class="col-md-3">
                <HxCard ImageAlt="Grey area"
		                    ImageSrc="@product.Img"
		                    
		                    style="width: 18rem;">
	                    <BodyTemplate>
		                    <HxCardTitle>@product.Title</HxCardTitle>
		                    <HxCardText>Some quick example text to build on the card title and make up the bulk of the card's content.</HxCardText>
		                    <HxButton Color="ThemeColor.Primary">Go somewhere</HxButton>
	                    </BodyTemplate>
                    </HxCard>
                    </div>
                    
    }
    </div>
}

@code {
    private List<Product> products;

    protected override void OnInitialized()
    {
        base.OnInitialized();
        products = ViewProductsUseCase.Execute().ToList();
    }
}


